.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 7.5%;
    box-shadow: 0 5px 10px 1px #00000010;
    background-color: var(--clr-background);
}

.navbar-title {
    font-size: 22px;
    color: var(--clr-text);
    font-weight: 700;
    text-decoration: none;
}

.navbar-theme {
    display: flex;
    align-items: center;
    color: var(--clr-text);
    cursor: pointer;
}

.theme-icon  {
    margin-right: 8px;
}